h1{
    margin-bottom: 1%;
    padding: 0%;
}

.article{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 3%;
}


#edit{
    text-decoration:none;
    text-align: center;
    background-color: rgb(40, 157, 220);
    font-size: larger;
    float: left;
}
